<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

<head>
    <title>User Form</title>
</head>

<body>
    <div layout:fragment="content">
        <h2>User Form</h2>
        <form th:action="@{/users}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}">
                <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/users" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>

</html>
